#######################################
# JAVA / MAVEN
#######################################
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#######################################
# SPRING / STS
#######################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#######################################
# INTELLIJ
#######################################
.idea
*.iws
*.iml
*.ipr

#######################################
# VSCODE
#######################################
.vscode/

#######################################
# OS
#######################################
.DS_Store
Thumbs.db

#######################################
# LOGS
#######################################
logs/
*.log

#######################################
# DOCKER / ENV
#######################################
.env
.env.*
!.env.example

#######################################
# FRONTEND (React/Vite)
#######################################
node_modules/
dist/
.vite/
