spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:ecommerce-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true